<h1 class="title">Welcome..Please Fill this Form </h1>
<div class="container">
    <div class="col col-md-8" style="overflow-y: scroll; max-height: 100vh">
      <form [formGroup]="myForm" (ngSubmit)="saveUser()">
        <div class="col-sm-6">
          <label for="Name" class="form-label" class="col-sm-3">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            formControlName="name"/>
          </div>
               <em class="col-sm-3"
               *ngIf="!name?.valid && (name?.dirty ||name?.touched)">
               <em [hidden]="!myForm.controls['name'].errors?.['required']">
                  Name is required
               </em>
               <em [hidden]="!myForm.controls['name'].errors?.['maxlength']">
                 Max Length is 10
               </em>
             </em>

              <div class="col-sm-6">
                <label for="email" class="form-label" class="col-sm-3">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                />
              </div>

              <em *ngIf="!email?.valid && (email?.dirty ||email?.touched)">
              <em [hidden]="!myForm.controls['email'].errors?.['required']">
                 Email is required
              </em>
               <em class="col-sm-3" [hidden]="!myForm.controls['email'].errors?.['email']">
                  This is not a correct Email
                </em>
              </em>
              <div class="col-sm-6">
                <label for="phone" class="form-label" class="col-sm-3">Phone</label>
                <input
                  type="number"
                  class="form-control"
                  id="phone"
                  formControlName="phone"
                />
              </div>
                 <em class="col-sm-7" *ngIf="!phone?.valid && (phone?.dirty ||phone?.touched)">
                   <em [hidden]="!myForm.controls['phone'].errors?.['required']">
                       Phone is required
                  </em>
                 </em>

                <div class="col-sm-6">
                  <label for="address" class="form-label" class="col-sm-3">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="address"
                  />
                </div>
                <em class="col-sm-3" *ngIf="!address?.valid && (address?.dirty ||address?.touched)">
                  <em [hidden]="!myForm.controls['address'].errors?.['required']">
                      Address is required
                  </em>
                </em>


                    <div class="col-sm-6">
                      <label class="form-label" class="col-sm-3">Gender</label>
                      <select
                        id="gender" class="form-control"
                        formControlName="gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                      </select>
                    </div>

              <button type="submit" class="btn btn-primary col-sm-offset-3">Save</button>
              <button type="button"  class="btn btn-default col-sm-offset-3" (click)="closeEditData()">Cancel</button>
      </form>
    </div>
  </div>

